<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" type="text/css" href="css/suggestion.css" />
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="js/typeahead/typeahead.bundle.js"></script>

</head>
<body>
<center>
<div id="container" style="height:400px;">
  <input class="typeahead" type="text" size="400" placeholder="suggestion" />
</div>
<hr />
</center>

<pre>

后端:

  spring boot


前端依赖:

1. jquery 1.9+

2. twitter typeahead 

------------------------------------------------



</pre>


<script>
 var bestPictures = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    //prefetch: '../data/films/post_1960.json',
    remote: {
      url: 'suggestion?keyword=%QUERY',
      wildcard: '%QUERY'
    }
  });

  $('.typeahead').typeahead(null, {
    name: 'best-pictures',
    display: 'value',
    source: bestPictures
  });
</script>

</body>
</html>